<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>业务报表系统 - 月报表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {# <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>#}
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,minimum-scale=0.4,maximum-scale=3.0"/>
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/daterangepicker.css">
    <link rel="stylesheet" href="../static/css/formSelects-v4.css">
    <script src="../static/js/jquery.min.js" charset="utf-8"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script src="../static/js/formSelects-v4.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/moment.js"></script>
    <script type="text/javascript" src="../static/js/daterangepicker.js"></script>
    <script type="text/javascript" src="../static/echarts-lib/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/utils.js"></script>

    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/index/">首页</a><a><cite>月报表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block layui-col-md1">
                            <select name="data-source" id="data-source">
                                <option disabled>数据源</option>
                                <option value="development" selected>新增数据</option>
                                <option value="return">回访数据</option>
                                <option value="highseas">公海数据</option>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block layui-col-md2" style="width: 10%;">
                            <button type="button" style="height: 36px" class="layui-btn layui-btn-primary" name="daterange-btn" id="daterange-btn"></button>
                        </div>

                        <div class="layui-inline layui-show-xs-block layui-col-md3">
                            <select name="group-name" id="group-name" xm-select-height="30px" xm-select="group-name" xm-select-show-count="4" xm-select-search="" xm-select-search-type="dl">
                                <option value="">组别</option>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block layui-col-md3">
                            <select id="username" name="username" xm-select-height="30px" xm-select="username" xm-select-show-count="4" xm-select-search="" xm-select-search-type="dl">
                                <option value="">花名</option>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button id="search" class="layui-btn" lay-filter="search" onclick="search_btn();return false;"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <div class="layui-collapse" lay-filter="funnel-chart">
                        <div class="layui-colla-item">
                            <h2 id="funnel-chart-title" class="layui-colla-title" style="margin-top: unset;margin-bottom: unset;">收起漏斗图</h2>
                            <div class="layui-colla-content layui-show layui-row">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-carousel" id="carousel" lay-filter="carousel">
                                            <div carousel-item="" id="carousel-itmes">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <table class="layui-hide" id="statistical-rate" lay-filter="statistical-rate"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var obj_value = 'group';
    var id_value = '';
    layui.use(['form', 'laydate', 'table', 'element', 'carousel'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var element = layui.element;
        var layer = layui.layer;
        var carousel = layui.carousel;
        console.log(GetMonthStr(-1));
        //时间范围
        laydate.render({
            elem: '#daterange-btn',
            type: 'month',
            range: true,
            value: GetMonthStr(-1)
        });

        layui.formSelects.opened('username', function (id) {
            obj_value = 'person';
        });
        layui.formSelects.opened('group-name', function (id) {
            obj_value = 'group';
        });

        layui.formSelects.closed('username', function (id) {
            id_value = layui.formSelects.value('username', 'val');
        });
        layui.formSelects.closed('group-name', function (id) {
            id_value = layui.formSelects.value('group-name', 'val');
        });

        loadSearchData(); //加载搜索栏数据
        layui.form.render();
        $('.layui-unselect')[1].style.height = '36px';
        laydate.render({
            elem: '#date-range', range: true
        });
        var ins = carousel.render({
            elem: '#carousel',
            width: '100%',
            height: '500px',
            arrow: 'hover',
            anim: 'fade',
            autoplay: false
        });

        loadechartsdiv();
        //监听轮播切换事件
        carousel.on('change(carousel)', function (obj) {
            var parameter = '?types=' + $('#data-source').val() + '&obj=' + obj_value + '&id=[' + id_value + ']&date-range=' + $('#daterange-btn').html() + '&page=1&limit=20';
            $.get('/api/statistical-month-rate-data/' + parameter).done(function (data) {
                var Chart = echarts.init(document.getElementById('echarts-funnel-data-' + obj.index));
                option = {
                    title: {
                        text: '转化率 - 漏斗图',
                        subtext: data.data.echarts[obj.index].name + ' 日期：' + data.data.datasheet[obj.index].date
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    toolbox: {
                        feature: {
                            dataView: {readOnly: false},
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '转化率 - 漏斗图',
                            type: 'funnel',
                            left: '10%',
                            top: 60,
                            //x2: 80,
                            bottom: 60,
                            width: '80%',
                            // height: {totalHeight} - y - y2,
                            min: 0,
                            max: 100,
                            minSize: '0%',
                            maxSize: '100%',
                            sort: 'descending',
                            gap: 2,
                            label: {
                                show: true,
                                position: 'inside'
                            },
                            labelLine: {
                                length: 10,
                                lineStyle: {
                                    width: 1,
                                    type: 'solid'
                                }
                            },
                            itemStyle: {
                                borderColor: '#fff',
                                borderWidth: 1
                            },
                            emphasis: {
                                label: {
                                    fontSize: 20
                                }
                            },
                            data: [
                                {value: data.data.echarts[obj.index].success_opening_rate, name: '成功开场转化率'},
                                {value: data.data.echarts[obj.index].business_introduction_rate, name: '业务介绍成功转化率'},
                                {value: data.data.echarts[obj.index].answer_question_rate, name: '解答问题转化率'},
                                {value: data.data.echarts[obj.index].contract_pay_rate, name: '约定付款转化率'},
                                {value: data.data.echarts[obj.index].transaction_rate, name: '成交转化率'}
                            ]
                        }
                    ]
                };
                Chart.setOption(option, true);
                ins.reload({
                    elem: '#carousel',
                    width: '100%',
                    height: '500px',
                    arrow: 'hover',
                    anim: 'fade',
                    autoplay: false
                });
            });
        });


        //监听折叠
        element.on('collapse(funnel-chart)', function (data) {
            if (data.show) {
                $('#funnel-chart-title').text('收起漏斗图');
            } else {
                $('#funnel-chart-title').text('展开漏斗图');
            }
            element.render('collapse');
        });

        var parameter = '?types=' + $('#data-source').val() + '&obj=' + obj_value + '&id=[' + id_value + ']&date-range=' + $('#daterange-btn').html();
        table.render({
            elem: '#statistical-rate',
            url: '/api/statistical-month-rate-data/' + parameter,
            toolbar: '#tool-top',
            defaultToolbar: [
                'filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }
            ],
            cellMinWidth: 80,
            height: 'full-200',
            title: '新增数据统计',
            cols: [[
                {field: 'date', title: '日期', width: 200, fixed: 'left', unresize: true, sort: true, align: 'center'},
                {field: 'name', title: '组/花名', width: 120, fixed: 'left', unresize: true, sort: true, align: 'center'},
                {field: 'new_volume', title: '开发量', align: 'center', width: 140, sort: true},
                {field: 'new_customer_volume', title: '新客数', sort: true, align: 'center', width: 140},
                {field: 'success_opening_rate', title: '成功开场率', align: 'center', width: 140, sort: true},
                {field: 'business_introduction_rate', title: '业务介绍成功率', sort: true, align: 'center', width: 140},
                {field: 'answer_question_rate', title: '解答问题率', sort: true, align: 'center', width: 140},
                {field: 'contract_pay_rate', title: '约定付款率', sort: true, align: 'center', width: 140},
                {field: 'transaction_rate', title: '成交率', sort: true, align: 'center', width: 140},
                {field: 'per_data_sum', title: '成交量', sort: true, align: 'center', width: 140},
            ]],
            page: true,
            limit: 20,
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.count,
                    "data": res.data.datasheet
                };
            }
        });

        //头工具栏事件
        table.on('toolbar(statistical-rate)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            switch (obj.event) {
                case 'LAYTABLE_TIPS':
                    layer.alert('保留功能');
                    break;
            }
        });


        function loadSearchData() {
            $.ajax({
                url: '/api/person-group-name-data/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 0) {
                        console.log(data);
                        $.each(data.data.group, function (index) {
                            var option = "<option selected value=\"" + data.data.group[index].id + "\">" + data.data.group[index].name + "</option>";
                            $("select[id=group-name]").append(option);
                        });
                        $.each(data.data.person, function (index) {
                            var option = "<option value=\"" + data.data.person[index].id + "\">" + data.data.person[index].name + "</option>";
                            $("select[id=username]").append(option);
                        });
                        layui.formSelects.render('username');
                        layui.formSelects.render('group-name');
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                },
                error: function (error) {
                    layer.alert(error.msg, {icon: 2, time: 1000});
                }
            });
        }
    });

    function search_btn() {
        //console.log('数据源：' + $('#data-source').val());
        //console.log('日期选择：' + $('#daterange-btn span').html());
        //console.log('组别：' + $('#group-name').val());
        //console.log('花名：' + $('#username').val());
        //console.log(layui.formSelects.value('username', 'val'));
        //console.log(layui.formSelects.value('group-name', 'val'));
        loadechartsdiv();
        var parameter = '?types=' + $('#data-source').val() + '&obj=' + obj_value + '&id=[' + id_value + ']&date-range=' + $('#daterange-btn').html();
        if ($('#data-source').val() === 'development') {
            layui.table.reload('statistical-rate', {
                elem: '#statistical-rate',
                url: '/api/statistical-month-rate-data/' + parameter,
                toolbar: '#tool-top',
                defaultToolbar: [
                    'filter', 'exports', 'print', {
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips'
                    }
                ],
                cellMinWidth: 80,
                height: 'full-200',
                title: '新增数据统计',
                cols: [[
                    {field: 'date', title: '日期', width: 200, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'name', title: '组/花名', width: 120, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'new_volume', title: '开发量', align: 'center', width: 140, sort: true},
                    {field: 'new_customer_volume', title: '新客数', sort: true, align: 'center', width: 140},
                    {field: 'success_opening_rate', title: '成功开场率', align: 'center', width: 140, sort: true},
                    {field: 'business_introduction_rate', title: '业务介绍成功率', sort: true, align: 'center', width: 140},
                    {field: 'answer_question_rate', title: '解答问题率', sort: true, align: 'center', width: 140},
                    {field: 'contract_pay_rate', title: '约定付款率', sort: true, align: 'center', width: 140},
                    {field: 'transaction_rate', title: '成交率', sort: true, align: 'center', width: 140},
                    {field: 'per_data_sum', title: '成交量', sort: true, align: 'center', width: 140},
                ]],
                page: true,
                limit: 20,
                parseData: function (res) {
                    console.log(res);
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data.datasheet
                    };
                }
            });
        } else if ($('#data-source').val() === 'return') {
            layui.table.render({
                elem: '#statistical-rate',
                url: '/api/statistical-month-rate-data/' + parameter,
                toolbar: '#tool-top',
                defaultToolbar: [
                    'filter', 'exports', 'print', {
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips'
                    }
                ],
                cellMinWidth: 80,
                height: 'full-200',
                title: '回访数据统计',
                cols: [[
                    {field: 'date', title: '日期', width: 200, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'name', title: '组/花名', width: 120, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'return_visit_volume', title: '回访量', align: 'center', width: 140, sort: true},
                    {field: 'success_opening_rate', title: '成功开场率', align: 'center', width: 140, sort: true},
                    {field: 'business_introduction_rate', title: '业务介绍成功率', sort: true, align: 'center', width: 140},
                    {field: 'answer_question_rate', title: '解答问题率', sort: true, align: 'center', width: 140},
                    {field: 'contract_pay_rate', title: '约定付款率', sort: true, align: 'center', width: 140},
                    {field: 'transaction_rate', title: '成交率', sort: true, align: 'center', width: 140},
                    {field: 'per_data_sum', title: '成交量', sort: true, align: 'center', width: 140}
                ]],
                page: true,
                limit: 20,
                parseData: function (res) {
                    console.log(res);
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data.datasheet
                    };
                }
            });
        } else {
            layui.table.render({
                elem: '#statistical-rate',
                url: '/api/statistical-month-rate-data/' + parameter,
                toolbar: '#tool-top',
                defaultToolbar: [
                    'filter', 'exports', 'print', {
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips'
                    }
                ],
                cellMinWidth: 80,
                height: 'full-200',
                title: '公海数据统计',
                cols: [[
                    {field: 'date', title: '日期', width: 200, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'name', title: '组/花名', width: 120, fixed: 'left', unresize: true, sort: true, align: 'center'},
                    {field: 'high_seas_volume', title: '公海客户量', align: 'center', width: 140, sort: true},
                    {field: 'success_opening_rate', title: '成功开场率', align: 'center', width: 140, sort: true},
                    {field: 'business_introduction_rate', title: '业务介绍成功率', sort: true, align: 'center', width: 140},
                    {field: 'answer_question_rate', title: '解答问题率', sort: true, align: 'center', width: 140},
                    {field: 'contract_pay_rate', title: '约定付款率', sort: true, align: 'center', width: 140},
                    {field: 'transaction_rate', title: '成交率', sort: true, align: 'center', width: 140},
                    {field: 'per_data_sum', title: '成交量', sort: true, align: 'center', width: 140}
                ]],
                page: true,
                limit: 20,
                parseData: function (res) {
                    console.log(res);
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data.datasheet
                    };
                }
            });
        }
    }

    function loadechartsdiv() {
        var item_length = $('#carousel-itmes').children().length;
        for (var i = 1; i <= item_length; i++) {
            $("#item").remove();
        }
        var parameter = '?types=' + $('#data-source').val() + '&obj=' + obj_value + '&id=[' + id_value + ']&date-range=' + $('#daterange-btn').html() + '&page=1&limit=20';
        var ins = layui.carousel.render({
            elem: '#carousel',
            width: '100%',
            height: '500px',
            arrow: 'hover',
            anim: 'fade',
            autoplay: false
        });
        $.ajax({
            url: '/api/statistical-month-rate-data/' + parameter,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data.count);
                if (data.code === 0) {
                    for (var i = 0; i < data.count; i++) {
                        var option = "<div id=\"item\"><div class=\"layui-card-body \"><div class=\"layui-col-md6\"><ul class=\"layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog\"><li class=\"layui-col-md4 layui-col-xs6\"><a href=\"javascript:;\" class=\"x-admin-backlog-body\" style=\"text-decoration:unset\"><h3>成功开场转化率</h3><p><cite id=\"person-count\">" + data.data.datasheet[i].success_opening_rate + "</cite></p></a></li><li class=\"layui-col-md4 layui-col-xs6\"><a href=\"javascript:;\" class=\"x-admin-backlog-body\" style=\"text-decoration:unset\"><h3>业务介绍成功转化率</h3><p><cite id=\"group-count\">" + data.data.datasheet[i].business_introduction_rate + "</cite></p></a></li><li class=\"layui-col-md4 layui-col-xs6\"><a href=\"javascript:;\" class=\"x-admin-backlog-body\" style=\"text-decoration:unset\"><h3>解答问题转化率</h3><p><cite id=\"development-count\">" + data.data.datasheet[i].answer_question_rate + "</cite></p></a></li><li class=\"layui-col-md4 layui-col-xs6\"><a " +
                            "href=\"javascript:;\" class=\"x-admin-backlog-body\" style=\"text-decoration:unset\"><h3>约定付款转化率</h3><p><cite id=\"return-count\">" + data.data.datasheet[i].contract_pay_rate + "</cite></p></a></li><li class=\"layui-col-md4 layui-col-xs6\"><a href=\"javascript:;\" class=\"x-admin-backlog-body\" style=\"text-decoration:unset\"><h3>成交转化率</h3><p><cite id=\"performance-count\">" + data.data.datasheet[i].transaction_rate + "</cite></p></a></li></ul></div><div class=\"layui-col-md6\"><div id=\"echarts-funnel-data-" + i + "\" style=\"height:500px\"></div></div></div></div>";
                        $("#carousel-itmes").append(option);
                    }
                    ins.reload({
                        elem: '#carousel',
                        width: '100%',
                        height: '500px',
                        arrow: 'hover',
                        anim: 'fade',
                        autoplay: false
                    });
                    var Chart = echarts.init(document.getElementById('echarts-funnel-data-0'));
                    option = {
                        title: {
                            text: '转化率 - 漏斗图',
                            subtext: data.data.echarts[0].name + ' 日期：' + data.data.datasheet[0].date
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c}%"
                        },
                        toolbox: {
                            feature: {
                                dataView: {readOnly: false},
                                restore: {},
                                saveAsImage: {}
                            }
                        },
                        calculable: true,
                        series: [
                            {
                                name: '转化率 - 漏斗图',
                                type: 'funnel',
                                left: '10%',
                                top: 60,
                                //x2: 80,
                                bottom: 60,
                                width: '80%',
                                // height: {totalHeight} - y - y2,
                                min: 0,
                                max: 100,
                                minSize: '0%',
                                maxSize: '100%',
                                sort: 'descending',
                                gap: 2,
                                label: {
                                    show: true,
                                    position: 'inside'
                                },
                                labelLine: {
                                    length: 10,
                                    lineStyle: {
                                        width: 1,
                                        type: 'solid'
                                    }
                                },
                                itemStyle: {
                                    borderColor: '#fff',
                                    borderWidth: 1
                                },
                                emphasis: {
                                    label: {
                                        fontSize: 20
                                    }
                                },
                                data: [
                                    {value: data.data.echarts[0].success_opening_rate, name: '成功开场转化率'},
                                    {value: data.data.echarts[0].business_introduction_rate, name: '业务介绍成功转化率'},
                                    {value: data.data.echarts[0].answer_question_rate, name: '解答问题转化率'},
                                    {value: data.data.echarts[0].contract_pay_rate, name: '约定付款转化率'},
                                    {value: data.data.echarts[0].transaction_rate, name: '成交转化率'}
                                ]
                            }
                        ]
                    };
                    Chart.setOption(option, true);
                    ins.reload({
                        elem: '#carousel',
                        width: '100%',
                        height: '500px',
                        arrow: 'hover',
                        anim: 'fade',
                        autoplay: false
                    });
                } else {
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }
            },
            error: function (error) {
                layer.alert(error.msg, {icon: 2, time: 1000});
            }
        });
    }

</script>
</body>
</html>