<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>业务报表系统 - 修改转接绩效数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {# <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>#}
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,minimum-scale=0.4,maximum-scale=3.0"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>花名</label>
                <div class="layui-input-inline layui-show-xs-block">
                    <select id="username" name="username" lay-verify="" lay-search>
                        <option disabled>花名</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="development_volume" class="layui-form-label">
                    开发量</label>
                <div class="layui-input-inline">
                    <input type="number" value="{{ transfer_performance_data.development_volume }}" id="development_volume" name="development_volume" class="layui-input" lay-verify="numberOrEmpty"></div>
            </div>
            <div class="layui-form-item">
                <label for="transfer_volume" class="layui-form-label">
                    转接量</label>
                <div class="layui-input-inline">
                    <input type="number" value="{{ transfer_performance_data.transfer_volume }}" id="transfer_volume" name="transfer_volume" class="layui-input" lay-verify="numberOrEmpty"></div>
            </div>
            <div class="layui-form-item">
                <label for="data-date" class="layui-form-label">
                    <span class="x-red">*</span>数据日期</label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="数据日期" name="data-date" id="data-date" value="{{ transfer_performance_data.data_time }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="user-edit" id="user-edit" onclick="edit();return false;">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/js/utils.js"></script>
<script>
    layui.use(['form', 'layer', 'laydate'],
        function () {
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;
            var laydate = layui.laydate;
            var date = new Date();
            laydate.render({
                elem: '#data-date',
                isInitValue: true,
                value: GetDateStr(-1)
            });
            layui.form.render();
            loadSearchData();
            form.verify({
                numberOrEmpty: function (value, item) {
                    if (value !== '') {
                        if (!/^\d+$/.test(value)) {
                            return '只能填写数字或者不填';
                        }
                    }
                }
            });
        });

    function edit() {
        $.ajax({
            url: '/api/transfer-performance-data/',
            type: 'POST',
            dataType: 'json',
            data: {
                'operating': 'edit',
                'id':{{ transfer_performance_data.id }},
                'person_id': $('#username').val(),
                'development_volume': $('#development_volume').val(),
                'transfer_volume': $('#transfer_volume').val(),
                'data_time': $('#data-date').val(),
            },
            error: function (error) {
                layer.alert('网络连接错误', {icon: 2, time: 1000});
            },
            success: function (data) {
                if (data.code === 0) {
                    layer.msg(data.msg, {icon: 6, time: 1000},
                        function () {
                            console.log('{{ search }}');
                            xadmin.close();
                            parent.layui.table.reload('performance-data', {
                                url: '/api/transfer-performance-data/?person_id={{ search.person_id }}&group_id={{ search.group_id }}&date_range={{ search.date_range }}',
                            });
                            //xadmin.father_reload();
                        });
                } else {
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }
            }
        });
    }

    function loadSearchData() {
        $.ajax({
            url: '/api/person-group-name-data/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.code === 0) {
                    console.log(data);
                    $.each(data.data.person, function (index) {
                        console.log(data.data.person[index]);
                        var person_id = data.data.person[index].id;
                        var person_name = data.data.person[index].name;
                        if (person_id === {{transfer_performance_data.person_id.id}}) {
                            var option = "<option selected value=\"" + person_id + "\">" + person_name + "</option>";
                            $("select[id=username]").append(option);
                        } else {
                            var option = "<option value=\"" + person_id + "\">" + person_name + "</option>";
                            $("select[id=username]").append(option);
                        }

                    });
                    layui.form.render();
                } else {
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }
            },
            error: function (error) {
                layer.alert(error.msg, {icon: 2, time: 1000});
            }
        });
    }
</script>
</body>
</html>
